@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


:root {
  --primaryTextColor: #232e35; /* Untuk title atau judul */
  --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph contohnya */

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; /* untuk line di pre-title */

  --first-color: hsl(var(224), 89%, 60%);
  --mb-2: 1rem;
  --mb-4: 2rem;
  --font-semi: 600;

  --primary: #12bdff;
  --primary-hover: #0c8ec2;
  --dark-primary: #1b1f24;

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #333333;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /* 16 px */
  line-height: 1.9rem; /*30.4 px */
}

b{
  color: var(--lineColor);
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

/* End Preparation */

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Buttons */
.btn {
  padding: 1rem 1.5rem;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* Layouts */
.grid-3 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* --- Logo and Navigation Menu --- */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

/* Navigation Menu */
nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

/* Burger - Save for later on video */
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

.tentangg {
  background-color: blue;
  color: #fff;
  font-size: 1em;
  padding: 3px 7px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

/* Hero Section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* We're not going to use automatic template columns, because we need to know when the columns is go below. So we can exchange the order of the element */
  align-items: center;
}

.hero-name {
  font-family: "Jersey 10";
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: blue;
}

.hero-right img {
  width: 90%;
}
.bulat {
  width: 50%; 
  height: 500px; 
  object-fit: cover; 
  border-radius: 50%; 
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* Portfolios */
#portfolios {
  padding: var(--sectionPadding);
}

.portfolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden; /* supaya gambar yang diatas itu dia ngikut border radiusnya, karena yang dikasih border radius disini adalah div portfolio ini */
  border: 1px solid var(--borderColor);
}

.portfolio-cover {
  height: 250px;
}

.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* Skills  */
#skills {
  padding: var(--sectionPadding);
  background: var(--primaryBackgroundColor);
}

.skills-grid {
  display: grid;
  /* grid-template-columns: 40% 60%; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.skills__container {
  row-gap: 2rem;
  text-align: center;
  
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
.skills__text {
  margin-bottom: var(--mb-4);
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: blue;
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: blue;
  height: 0.25rem;
  border-radius: 0.5rem;
}
.skills__html {
  width: 85%;
}
.skills__css {
  width: 85%;
}
.skills__js {
  width: 50%;
}
.skills__ux {
  width: 70%;
}
.skills__img {
  border-radius: 0.5rem;
}


/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

/* Contact Section Styles */
section.contact-section {
  background-color: blue;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.contact-section h2 {
  font-size: 28px;
  margin: 18px 0;
}

.contact-section h2 > span {
  color: var(--primary);
}

/* Form Styles */
.contact-section form div > input,
.contact-section form div > textarea {
  background-color: white;
  width: 300px;
  padding: 5px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

.contact-section form div > input:focus,
.contact-section form div > textarea:focus {
  border: 1px solid var(--primary);
}

.contact-section form div > button {
  font-size: 14px;
}

/* Contact Section - Right Side */
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--primaryBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item-icon svg {
  fill: blue;
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}


/* Footer Section */
footer {
  padding: 4rem 0;
  background: blue;
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #ffffff;
}

.footer-icons a:hover svg {
  fill: #ffffff;
}

.news-marquee {
  background-color: #f5f3fe;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 5px 10px; 
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: auto;
  max-width: 100%; 
  border-radius: 5px;
  text-align: center;
  margin-top: 20px; 
}

.news-marquee-text {
  display: flex;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 600px) {
  .news-marquee {
    font-size: 0.9rem; 
    padding: 3px 8px; 
    text-align: center;
  }
}
.hero-img img {
  margin-left: 30px;
  border-radius: 15px;
}
